.item .price {
  font-weight: bold;
  font-size: 13px;
  color: #FFF;
  position: absolute;
  background: #666;
  right: 15px;
}

.item .price.positive {
  background: #66CC33;
}

.item .price.negative {
  background: #EF4E3A;
}