<ion-view view-title="Hourly Average Price">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input item-select">
        <div class="input-label">
          Currency
        </div>
        <select ng-change="changeCurrency()" ng-model="history.currency">
          <option ng-repeat="currencies in currencies | filter:{selected:true}" value="{{currency.code}}" ng-selected="history.currency == currency.code"></option>
        </select>
      </label>
    </div>
  </ion-content>
</ion-view>